@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&family=VT323&family=Zeyada&display=swap');



body{
    margin:30px;
    padding:30px;
    text-align:center;
    background-color:rgb(235, 236, 220);
    font-family: 'Mystery Quest', cursive;
font-family: 'VT323', monospace;
font-family: 'Zeyada', cursive;
}
h1{
    color:rgba(83, 164, 230, 0.644);
    font-size:60px;
    text-decoration:underline
}

.container{
    display:flex;
    gap:100px:
}
img{
    height:200px;
    width:400px;
    border-radius:20px;
    border-style:dotted;
    border-color:aqua
}

.line{
    margin:10px;
    height:50px;
    width:93vw;
    background-color:rgba(83, 164, 230, 0.644);
}